<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/5af96e6499.js" crossorigin="anonymous"></script>
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">